html,
body,
.wrapper {
  height: 100%;
}
.content {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 90px;
}
.footer {
	height: 80px;
	margin-top: -80px;
	padding: 15px;
	background: #333;
	color: #bfbfbf;
	box-sizing: border-box;
}
